/*=== RESET & DEFAULTS ===*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  line-height: 1.6;
  color: #2f004a;
}
/*=== TYPOGRAPHY ===*/
h1 {
  font-size: 2.5em;
  font-weight: 700;
  color: #170341;
  text-align: center;
  line-height: 1.2;
  margin-bottom: 20px;
  margin-top: 20px;
  text-transform: uppercase;
}

h2 {
  font-size: 2em;
  color: #4e3861;
  margin-top: 30px;
  margin-bottom: 15px;
  border-bottom: 2px solid #4e3861;
  padding-bottom: 10px;
}

h3 {
  font-size: 1.5em;
  color: #8a68a8;
  margin-top: 20px;
  margin-bottom: 10px;
}

h4 {
  font-size: 1.25em;
  color: rgb(167, 146, 221);
  margin-top: 10px;
  margin-bottom: 10px;
}

p {
  font-size: 1em;
  color: #120024;
  line-height: 1.6;
}

a {
  font-size: 1em;
  color: #2c0341;
  text-decoration: none;
  font-weight: bold;
  transition: 0.3s;
}

a:hover {
  color: #725f8a;
  text-decoration: underline;
}

/*=== LAYOUT & CONTAINERS === */
.container {
  max-width: 1200px;
  margin: 0 auto;
}
/* Section */
.section {
  padding: 2rem 2rem;
  margin: 0 auto;
}

.section ul {
  padding: 0.3rem 1rem;
}

/*service-container*/
.service-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem;
}

.main-content {
  display: flex;
  gap: 2rem;
  max-width: 3rem 0;
}

/*Sidebar*/
.sidebar {
  flex: 0 0 250px; /*เพิ่มระยะห่าง*/
}

/*Articles Section*/
.articles {
  flex: 1;
}

/* Services Section */
.services {
  flex: 1;
  padding: 4rem 2rem;
}
