/*=== RESET & DEFAULTS ===*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  line-height: 1.6;
  color: #2f004a;
}
/*=== TYPOGRAPHY ===*/
h1 {
  font-size: 2.5em;
  font-weight: 700;
  color: #170341;
  text-align: center;
  line-height: 1.2;
  margin-bottom: 20px;
  margin-top: 20px;
  text-transform: uppercase;
}

h2 {
  font-size: 2em;
  color: #4e3861;
  margin-top: 30px;
  margin-bottom: 15px;
  border-bottom: 2px solid #4e3861;
  padding-bottom: 10px;
}

h3 {
  font-size: 1.5em;
  color: #8a68a8;
  margin-top: 20px;
  margin-bottom: 10px;
}

h4 {
  font-size: 1.25em;
  color: rgb(167, 146, 221);
  margin-top: 10px;
  margin-bottom: 10px;
}

p {
  font-size: 1em;
  color: #120024;
  line-height: 1.6;
}

a {
  font-size: 1em;
  color: #2c0341;
  text-decoration: none;
  font-weight: bold;
  transition: 0.3s;
}

a:hover {
  color: #725f8a;
  text-decoration: underline;
}

/*=== LAYOUT & CONTAINERS === */
.container {
  max-width: 1200px;
  margin: 0 auto;
}
/* Section */
.section {
  padding: 2rem 2rem;
  margin: 0 auto;
}

.section ul {
  padding: 0.3rem 1rem;
}

/*service-container*/
.service-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem;
}

.main-content {
  display: flex;
  gap: 2rem;
  max-width: 3rem 0;
}

/*Sidebar*/
.sidebar {
  flex: 0 0 250px;
}

/*Articles Section*/
.articles {
  flex: 1;
}

/* Services Section */
.services {
  flex: 1;
  padding: 4rem 2rem;
}

/*Hero Section - Flexbox*/
.hero {
  display: flex;
  flex-direction: column; /*เรียงกันแบบคอลัมน์*/
  justify-content: center;
  align-items: center; /*อยู่ตรงกลาง*/
  background: linear-gradient(180deg, #ffffff 0%, #cec1d7 100%); /*ผสมสี*/
  color: #22033b; /*สีตัวอักษร*/
  padding: 4rem 2rem;
  text-align: center;
  min-height: 100vh;
}

.hero h1 {
  font-size: 5vw; /*ขนาดตัวอักษรใหญ่กว่า 3 เท่า*/
  margin-bottom: 1rem; /*ขนาดห่างกับด้านล่าง 1 เท่า*/
}

.hero p {
  font-size: 1.2rem;
  margin-bottom: 2rem;
  opacity: 0.9; /*ความโปร่งใส*/
}

.hero-btn {
  background: white; /*สีพื้นหลัง*/
  color: #22033b; /*สีตัวอักษร*/
  padding: 0.8rem 2rem;
  font-size: 1rem; /*ขนาดตัวอักษร*/
  border: none; /*ไม่มีเส้นขอบ*/
  border-radius: 5%; /*ความโค้ง*/
  cursor: pointer; /*เวลาเมาส์ชี้เป็นรูปมือกด*/
  transition: background 0.3s;
}

.hero-btn:hover {
  background: #493659;
  color: white;
  transition: 0.5s;
  transform: translateY(-2px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.services-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  list-style: none;
}

.services-card {
  flex: 1 1 calc(50% - 0.75rem); /*กว้างตามขนาดจอ*/
  border: 1px solid #9a8da3; /*เส้นขอบ*/
  border-radius: 10px; /*ความโค้ง*/
  padding: 2rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.05);
  transition: transform 0.3s;
}

.services-card:hover {
  transform: translateY(-5px); /*ลอยขึ้น*/
  box-shadow: 0 10px 20px rgba(65, 30, 3, 0.15);
  border-color: #785f8a;
}

.services-card h3 {
  border-color: rgba(207, 193, 215, 0.2);
  margin-bottom: 1rem;
}

/* Back-To-Top */
.back-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #22033b;
  color: white;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  z-index: 50;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

/* Team Section */
.team-section {
  padding: 2rem 2rem;
}

.team-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  margin-top: 2rem;
}

.team-member {
  background: white;
  padding: 2rem;
  border-radius: 15px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
  transition: transform 0.5;
  border: 1px solid #eee;
}

.team-member:hover {
  transform: translateY(-5px);
}

.team-member img {
  width: 50%;
  margin-bottom: 1rem;
}

.team-member figcaption strong {
  color: #22033b;
  line-height: 1.3;
  margin-bottom: 0.2rem;
}

.contact-section {
  margin: 1rem;
}

.contact-section h1 {
  margin-bottom: 0px;
}

.contact-section p {
  text-align: center;
}
form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.form-group label {
  display: block;
  font-weight: 600;
  margin-bottom: 8px;
  color: #22033b;
}

.form-group input,
.form-group textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #493659;
  font-size: 1rem;
  transition: border-color 0.3s;
}

.form-group input:focus,
.form-group textarea:focus {
  border-color: #785f8a;
}

.btn {
  display: inline;
  background-color: #49375d;
  color: white;
  width: 100px;
  margin-top: 15px;
}

.sidebar-box {
  border: 1px solid #d7cdc1;
  padding: 1.5rem;
  border-radius: 8px;
  margin-bottom: 1.5rem;
  padding-top: 0.5rem;
}

.sidebar-box h3 {
  color: #49375d;
  margin-bottom: 1rem;
  border-bottom: 2px solid #49375d;
  padding-bottom: 0.5rem;
}

.sidebar-box ul {
  list-style: none; /*ไม่มีจุดข้างหน้า*/
}

.sidebar-box ul li {
  padding: 0.5rem 0;
}

.sidebar-box a {
  color: #493659;
  text-decoration: none;
}

.sidebar-box a:hover {
  text-decoration: underline;
}

.articles-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
}

.articles-card {
  flex: 1 1 calc(50% - 0.75rem);
  background: white;
  border: 1px solid #49375d;
  border-radius: 8px;
  overflow: hidden;
  transition: transform 0.3s, box-shadow 0.3s;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  padding: 1rem;
  margin-bottom: 1rem;
  padding-top: 0.5rem;
}

.articles-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

.articles-content {
  display: flex;
  flex-direction: column;
  padding: 1.5rem;
}

/*TABLE STYLES*/
.pricing-table {
  width: 100%;
  border-collapse: collapse; /*รวมเส้นขอบเป็นเส้นเดียว*/
  margin: 20px 0;
  background-color: white;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
}

.pricing-table th,
.pricing-table td {
  padding: 15px;
  text-align: center;
  border-bottom: 0.5px solid #eee;
}

.pricing-table th {
  background-color: #22033b;
  color: white;
  font-size: 1.1rem;
}

.pricing-table td:first-child {
  text-align: left;
  font-weight: bold;
  color: #49375d;
}

.pricing-table tr:nth-child(even) {
  background-color: #f6f6f6;
}

.pricing-table tr:hover {
  background-color: #9a8da3;
  transition: background-color 0.2s;
}
